@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:Green">Leela Sreenivas</h1>
    <p style="color:blue">Have a great day</a>.</p>
</div>
